* {
    margin: 0;
}

body {
    background-color: black;
}

/*html,*/
/*body {*/
    /*background-color: black;*/
/*}*/

@font-face {
    font-family: SquareSansPro;
    src: url(../css/fonts/pfsquaresanspro-light.ttf);
}

.content {
    width: 70%;
    margin: 0 auto;
    height: 100%;
}

/* Header */
header {
    width: 100%;
}

.content-header {
    width: 100%;
    float: left;
    /*background-color: #32959A;*/
    background: linear-gradient(to right, #49A4AA, #1B8787);
    /*background: -webkit-gradient(linear, left top, left bottom, from(#49A4AA), to(#1B8787)); !* chrome, safary, etc. webkit *!*/
    /*background: -moz-linear-gradient(top, #49A4AA, #1B8787); !* FireFox *!*/
    /*background: -o-linear-gradient(top, #49A4AA, #1B8787); !* Opera *!*/
    /*filter: progid:DXImageTransform.Microsoft.Gradient(gradientType=0,startColorStr=#49A4AA,endColorStr=#1B8787); !* MS IE 7 *!*/
    /*-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#49A4AA', endColorstr='#1B8787')"; !* MS IE 8 *!*/
}

.greeting {
    width: 50%;
    float: left;
}

.top-name {
    margin: 40px 0 0 40px;
}

.top-greeting {
    margin: 100px 0 10px 40px;
}

.photo {
    width: 50%;
    float: left;
}

.top-name .name,
.top-greeting .resume{
    color: rgba(255, 255, 255, 0.5);
    font-size: 1.5em;
    font-family: SquareSansPro, sans-serif;
}

.top-name .position {
    text-transform: uppercase;
}

.top-greeting .hello {
    color: white;
    text-transform: uppercase;
    font-size: 5em;
    font-family: sans-serif;
}

.photo img {
    margin-bottom: -5px;
    width: 100%;
}

/* End Header */

/* Information */
    .information {
        clear: both;
        width: 100%;
    }

    .information-block {
        float: left;
        background: linear-gradient(to right, white, rgba(251,251,251,1));
        width: 100%;
    }

    .left-side {
        float: left;
        width: 30%;
    }

    .left-side p {
        margin: 40px;
        font-family: SquareSansPro, sans-serif;
        font-size: 1.5em;
        color: #94ADA7;
        font-weight: bold;
    }

    .right-side {
        float: left;
        width: 70%;
    }

    .right-side .date {
        font-family: SquareSansPro, sans-serif;
        font-size: 1em;
        color: #94ADA7;
        font-weight: bold;
    }

    .right-side .company-name{
        font-family: SquareSansPro, sans-serif;
        font-size: 1.5em;
        color: black;
        font-weight: bold;
    }

    .right-side .position {
        font-family: SquareSansPro, sans-serif;
        font-size: 1em;
        color: black;
        font-weight: bold;
        text-transform: uppercase;
    }

    .right-side .description {
        font-family: SquareSansPro, sans-serif;
        font-size: 14px;
    }

    .list {
        width: 40%;
        float: left;
        margin-top: 40px;
    }

    .list:nth-child(even) {
        float: right;
        margin: 40px;
    }

    .work-history,
    .education {
        margin: 40px 40px 40px 0px;
        text-align: justify;
    }

    .work-history .experience {
        margin-top: 20px;
    }

    .work-history .experience p {
        font-family: SquareSansPro, sans-serif;
    }

    .work-history .experience h1 {
        font-family: SquareSansPro, sans-serif;
        font-size: 1em;
    }

    .work-history .experience h2 {
        font-family: SquareSansPro, sans-serif;
        /* font-style: italic; */
        font-size: 1em;
        margin-top: 10px;
        font-weight: bold;
    }

    .work-history .experience ul {
        margin-top: 10px;
    }

    .work-history .experience ul:last-child {
        margin-bottom: 10px;
    }

    .work-history .experience ul li {
        font-family: SquareSansPro, sans-serif;
    }

    .element {
        clear: both;
    }

    .list .element .progress {
        float: right;
        color: #fff;;
        width: 60%;
    }

    .list .element .progress p {
        color: #2C9294;
        margin-left: 10px;
    }

    .list .element span {
        float: right;
        font-family: SquareSansPro, sans-serif;
        font-size: 17px;
    }

    .list .element label {
        font-weight: bold;
        font-family: SquareSansPro, sans-serif;
    }

    .skills .element {
        margin-top: 5px;
    }


/* End Information */

/* Footer */
footer {
    width: 100%;
    clear: both;
    background: linear-gradient(to right, #49A4AA, #1B8787);
    height: 150px;
}

footer div {
    display: inline-block;
    width: 30%;
    text-align: center;
    margin-top: 40px;
    margin-left: 2%;
}

footer div label {
    color: white;
    font-family: SquareSansPro,sans-serif;
    font-weight: bold;
    font-size: 14px;
}

footer div span,
footer div a{
    margin-left: 10px;
    font-size: 14px;
    font-family: SquareSansPro, sans-serif;
    color: rgba(255, 255, 255, 0.5);
    text-decoration: none;
}

@media screen and (max-width: 600px), screen and (max-width: 1200px) {
    .top-greeting {
        margin: 40px 0 10px 40px;
    }

    .top-name .name,
    .top-greeting .resume{
        color: rgba(255, 255, 255, 0.5);
        font-size: 1em;
        font-family: SquareSansPro, sans-serif;
        text-transform: uppercase;
    }

    .top-greeting .hello {
        color: white;
        text-transform: uppercase;
        font-size: 1em;
        font-family: sans-serif;
    }

    .top-name .position {
        text-transform: uppercase;
        font-size: 0.5em;
    }

    .left-side p {
        margin: 20px;
        font-family: SquareSansPro, sans-serif;
        font-size: 1em;
        color: #94ADA7;
        font-weight: bold;
    }

    .element {
        clear: both;
    }

    .list .element span {
        float: right;
        font-family: SquareSansPro, sans-serif;
        font-size: 6px;
    }

    .list .element label {
        font-weight: bold;
        font-family: SquareSansPro, sans-serif;
        font-size: 6px;
        float: left;
    }

    .list {
        width: 40%;
        float: left;
        margin-top: 20px;
    }

    .list:nth-child(even) {
        float: right;
        margin: 20px;
    }

    .right-side .date {
        font-family: SquareSansPro, sans-serif;
        font-size: 0.5em;
        color: #94ADA7;
        font-weight: bold;
    }

    .right-side .company-name{
        font-family: SquareSansPro, sans-serif;
        font-size: 0.5em;
        color: black;
        font-weight: bold;
    }

    .right-side .position {
        font-family: SquareSansPro, sans-serif;
        font-size: 0.5em;
        color: black;
        font-weight: bold;
        text-transform: uppercase;
    }

    .right-side .description {
        font-family: SquareSansPro, sans-serif;
        font-size: 10px;
    }

    .work-history,
    .education {
        margin: 20px 20px 20px 0px;
        text-align: justify;
    }

    footer div label {
        color: white;
        font-family: SquareSansPro,sans-serif;
        font-weight: bold;
        font-size: 10px;
    }

    footer div span,
    footer div a{
        margin-left: 3px;
        font-size: 10px;
        font-family: SquareSansPro, sans-serif;
        color: rgba(255, 255, 255, 0.5);
        text-decoration: none;
    }

}



/*@media screen and (max-width: 900px) {*/
    /*.top-greeting {*/
        /*margin: 40px 0 10px 40px;*/
    /*}*/

    /*.top-greeting .hello {*/
        /*color: white;*/
        /*text-transform: uppercase;*/
        /*font-size: 1em;*/
        /*font-family: sans-serif;*/
    /*}*/

    /*.photo img {*/
        /*width: 100%;*/
        /*margin-bottom: -5px;*/
    /*}*/
/*}*/

/*@media screen and (max-width: 1200px) {*/
    /*.top-greeting {*/
        /*margin: 40px 0 10px 40px;*/
    /*}*/

    /*.photo img {*/
        /*width: 100%;*/
        /*margin-bottom: -5px;*/
    /*}*/
/*}*/
